#Numpy (np) -- NumPy is used for tasks involving numerical computations, data manipulation, simulation, and scientific analysis in various domains, including machine learning, data science, engineering, physics, finance, and more. 

#Pandas (pd) --- a powerful library for data manipulation and analysis, providing data structures like DataFrames for easy handling and analysis of structured data.

#Matplot lib -- data visualisation

In [193]:
# Setting My file Path
%cd "C:/Users/HP/Documents/POWER BI PROJECTS"

C:\Users\HP\Documents\POWER BI PROJECTS

In [194]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [195]:
data = pd.read_csv("C:/Users/HP/Documents/POWER BI PROJECTS/London bike sharing dataset.csv")

In [196]:
data.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [197]:
data.tail()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [199]:
data.shape

(17414, 10)

In [200]:
data.isna().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [201]:
# Rename selected Columns with a more meaningful names

In [202]:
data.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [203]:
#use dictionaries (key value pairs) for renaming

data.rename(columns ={
    'timestamp' : 'Time',
    'cnt':'Count',
    't1':'Actual_temp',
    't2':'Temp_Feelslike',
    'hum':'Humidity',
    'wind_speed': 'Wind_speed_Kph',
    'weather_code': 'Weather',
    'is_holiday':'Holiday',
    'is_weekend':'Weekend',
    'season':'Season'
}, inplace = True)

In [204]:
data.columns

Index(['Time', 'Count', 'Actual_temp', 'Temp_Feelslike', 'Humidity',
       'Wind_speed_Kph', 'Weather', 'Holiday', 'Weekend', 'Season'],
      dtype='object')

In [205]:
#Convert Humiity values to Percentage by dividing with 100
data['Humidity'] = data['Humidity']/100

In [206]:
data.head(5)

,Time,Count,Actual_temp,Temp_Feelslike,Humidity,Wind_speed_Kph,Weather,Holiday,Weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

Weather Column has different values and their meaning are as below:

(1.0) Clear Skies with little fog/haze
(2.0) Scattered Clouds
(3.0) Broken Clouds
(4.0) Cloudy
(7.0) Light Rain/Shower
(10.0)  Rain with Thunderstorm
(26.0)  Snowfall
(94.0)  Freezing Fog

Weekend:

(0.0) No, it's not a weekend
(1.0) Yes, it's a weekend

Season:

(0.0) Spring
(1.0) Summer
(2.0) Autumn
(3.0) Winter

Holiday

(0.0) No, it's not a Holiday
(1.0) Yes, it's a Holiday

In [207]:
# CONVERT THESE VALUES TO ACTUAL STRINGS AND BOOLEAN (for WEEKEND)

In [208]:
weather_val = {
    '1.0': 'Clear Skies',
    '2.0': 'Scattered Clouds',
    '3.0': 'Broken Clouds',
    '4.0': 'Cloudy',
    '7.0': 'Showers',
    '10.0':'Rain with Thunderstorm',
    '26.0': 'Snowfall',
    '94.0': 'Freezing Fog'
}

In [209]:
# Since it's a yes or no (boolean) kind of response, this variable will be used
#for both the holiday and weekend columns
hol_wknd_val = {
    '0.0': 'No',
    '1.0': 'Yes'
    }

In [210]:
seasn_val = {
    '0.0': 'Spring',
    '1.0': 'Summer',
    '2.0': 'Autumn',
    '3.0': 'Winter'
}

In [211]:
#Convert the data types in the Weather, Holiday, Weekend and Season Columns to Strings
#Then map the already created dic changes to it

In [212]:
data.Weather = data.Weather.astype('str')
data.Weather = data.Weather.map(weather_val)

In [213]:
data.Holiday =  data.Holiday.astype('str')
data.Holiday = data.Holiday.map(hol_wknd_val)

In [214]:
data.Weekend = data.Weekend.astype('str')
data.Weekend = data.Weekend.map(hol_wknd_val)

In [215]:
data.Season = data.Season.astype('str')
data.Season = data.Season.map(seasn_val)

In [216]:
data.head()

,Time,Count,Actual_temp,Temp_Feelslike,Humidity,Wind_speed_Kph,Weather,Holiday,Weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,No,Yes,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear Skies,No,Yes,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear Skies,No,Yes,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear Skies,No,Yes,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear Skies,No,Yes,Winter

In [217]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Time            17414 non-null  object
 1   Count           17414 non-null  int64
 2   Actual_temp     17414 non-null  float64
 3   Temp_Feelslike  17414 non-null  float64
 4   Humidity        17414 non-null  float64
 5   Wind_speed_Kph  17414 non-null  float64
 6   Weather         17414 non-null  object
 7   Holiday         17414 non-null  object
 8   Weekend         17414 non-null  object
 9   Season          17414 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 1.3+ MB

In [218]:
#Convert data these columns into categorical data so it can be used in Power BI as a slicer, create visualizations
#that leverage the categorical nature of the data, and enable features like drill-down or hierarchy.

In [219]:
data_to_cat = ['Weather', 'Holiday', 'Weekend', 'Season']

In [220]:
for column in data_to_cat:
    data[column] = data[column].astype('category')

In [221]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Time            17414 non-null  object
 1   Count           17414 non-null  int64
 2   Actual_temp     17414 non-null  float64
 3   Temp_Feelslike  17414 non-null  float64
 4   Humidity        17414 non-null  float64
 5   Wind_speed_Kph  17414 non-null  float64
 6   Weather         17414 non-null  category
 7   Holiday         17414 non-null  category
 8   Weekend         17414 non-null  category
 9   Season          17414 non-null  category
dtypes: category(4), float64(4), int64(1), object(1)
memory usage: 885.2+ KB

In [ ]:
#Split date into date time (y,m,d, h,m)

In [227]:
data.Time.head()

0    2015-01-04 00:00:00
1    2015-01-04 01:00:00
2    2015-01-04 02:00:00
3    2015-01-04 03:00:00
4    2015-01-04 04:00:00
Name: Time, dtype: object

In [247]:
data.Time = pd.to_datetime(data.Time)

In [248]:
data.Time.info()

<class 'pandas.core.series.Series'>
RangeIndex: 17414 entries, 0 to 17413
Series name: Time
Non-Null Count  Dtype
--------------  -----
17414 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 136.2 KB

In [249]:
data['Hour'] = data.Time.dt.hour

In [250]:
data['Minute'] = data.Time.dt.minute

In [251]:
data.head(30)

,Time,Count,Actual_temp,Temp_Feelslike,Humidity,Wind_speed_Kph,Weather,Holiday,Weekend,Season,Hour,Minute,Second
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,No,Yes,Winter,0,0,0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear Skies,No,Yes,Winter,1,0,0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear Skies,No,Yes,Winter,2,0,0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear Skies,No,Yes,Winter,3,0,0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear Skies,No,Yes,Winter,4,0,0
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear Skies,No,Yes,Winter,5,0,0
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Cloudy,No,Yes,Winter,6,0,0
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Cloudy,No,Yes,Winter,7,0,0
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Cloudy,No,Yes,Winter,8,0,0
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken Clouds,No,Yes,Winter,9,0,0
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,Broken Clouds,No,Yes,Winter,10,0,0
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,Broken Clouds,No,Yes,Winter,11,0,0
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,Cloudy,No,Yes,Winter,12,0,0
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,Broken Clouds,No,Yes,Winter,13,0,0
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,Broken Clouds,No,Yes,Winter,14,0,0
15,2015-01-04 15:00:00,869,2.0,-1.5,0.930,11.0,Broken Clouds,No,Yes,Winter,15,0,0
16,2015-01-04 16:00:00,737,3.0,0.0,0.930,12.0,Broken Clouds,No,Yes,Winter,16,0,0
17,2015-01-04 17:00:00,594,3.0,0.0,0.930,11.0,Broken Clouds,No,Yes,Winter,17,0,0
18,2015-01-04 18:00:00,522,3.0,1.5,0.930,6.5,Broken Clouds,No,Yes,Winter,18,0,0
19,2015-01-04 19:00:00,379,3.0,1.0,0.930,7.0,Broken Clouds,No,Yes,Winter,19,0,0
20,2015-01-04 20:00:00,328,3.0,3.0,0.930,4.0,Broken Clouds,No,Yes,Winter,20,0,0
21,2015-01-04 21:00:00,221,3.0,2.5,0.930,5.0,Cloudy,No,Yes,Winter,21,0,0
22,2015-01-04 22:00:00,178,3.0,2.0,0.930,6.0,Cloudy,No,Yes,Winter,22,0,0
23,2015-01-04 23:00:00,157,4.0,3.5,0.870,5.0,Cloudy,No,Yes,Winter,23,0,0
24,2015-01-05 00:00:00,83,4.0,3.0,0.930,6.0,Cloudy,No,No,Winter,0,0,0
25,2015-01-05 01:00:00,67,4.0,3.5,0.930,5.0,Cloudy,No,No,Winter,1,0,0
26,2015-01-05 02:00:00,32,5.0,4.0,0.870,6.0,Cloudy,No,No,Winter,2,0,0
27,2015-01-05 03:00:00,22,6.0,4.5,0.840,7.5,Cloudy,No,No,Winter,3,0,0
28,2015-01-05 04:00:00,38,6.5,5.0,0.840,8.0,Cloudy,No,No,Winter,4,0,0
29,2015-01-05 05:00:00,81,6.0,5.5,0.870,5.0,Cloudy,No,No,Winter,5,0,0

In [252]:
#Save to Excel for my Power BI Analysis
transfdata = data.to_csv('BLondonBicycleSharing.csv')